.teclado{
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,9rem);
    border-color: cornflowerblue;
}

.teclas{
    font-size: 3rem;
    border: 3px solid rgba(7, 2, 7, 0.274);
    border-radius: 4px;
    background-color: rgba(153, 73, 73, 0.493);
    


    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.teclas:hover{
    background-color: rgb(135, 31, 233);
}

.tecla-0{
    grid-column: 1/3;
}